{% extends 'form_answer.html' %}
{% block title %}Add Comment{% endblock %}
{% block body %}
    {{ super() }}
{% endblock %}

{% block Tbg %}{{ 'bg-answer' }}{% endblock %}
{% block Ttitle %}{% endblock %}
{% block Tmessage %}{{ answer.message | replace('\n','<br>') | safe }}{% endblock %}
{% block asked %}
    <div>
        <p class="float_right comment"><small>Answered</small> {{ answer.username }}</p>
    </div>
{% endblock %}
{% block bg %}{{ 'bg-comment' }}{% endblock %}
{% block Timage %}
    {% if answer.image | string | if_exists %}
        <img src="{{ url_for('static', filename='images/' + answer.image) }}" alt="" class="image">
    {% else %}
        <img src="{{ url_for('static', filename='images/default.png') }}" alt="" class="image">
    {% endif %}
{% endblock %}
{% block action %}
    {% if comment is defined %}
        <form action="{{ url_for('edit_comment', comment_id=comment.id) }}"
              method="POST">
    {% else %}
        <form action="{{ url_for('add_comment_to_answer', answer_id=answer.id) }}"
              method="POST">
    {% endif %}
{% endblock %}
{% block message %}Comment{% endblock %}
{% block textarea %}{{ comment.message if comment is defined }}{% endblock %}
{% block submit %}{{ 'Update' if comment is defined else 'Add' }} Comment{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block image %}{% endblock %}

