{% extends "layer.html" %}
{% block title %}Question Form{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    <div class="w30 tm10 ta-left">
        <div>
            {% if question is defined %}
                <a class="material-icons icon-nav"
                   href="{{ url_for('display_question', question_id=question.id) }}">arrow_back</a>
            {% else %}
                <a class="material-icons icon-nav"
                   href="{{ request.referrer }}">arrow_back</a>
            {% endif %}
        </div>
    </div>
    <div class="card w30 td15 bg-question p3070">
        {% if question is defined %}
            <form action="{{ url_for('edit_question', question_id=question.id) }}"
                  method="POST" enctype="multipart/form-data">
        {% else %}
            <form action="{{ url_for('add_question') }}"
                  method="POST" enctype="multipart/form-data">
        {% endif %}
        <label class="mb5" for="title2">Title</label>
        <div class="inputs">
            <input type="text" name="title" id="title2" minlength="5"
                   value="{{ question.title if question is defined }}">
        </div>
        <br>
        <label class="mb5" for="message">Description</label><br>
        <div class="inputs">
            <textarea name="message" id="message" cols="40" rows="10"
                      required>{{ question.message if question is defined }}</textarea>
        </div>
        <br>
        <div>
            <label for="image"></label>
        </div>
        <div>
            <input type="file" name="image" id="image" accept=".jpg, .png"
                   value="{{ question.image if question is defined }}">
        </div>
        <br>
        <div>
            <button type="submit" class="sort_button">{{ 'Update ' if question is defined else 'Send ' }}Question
            </button>
        </div>
        </form>
    </div>
{% endblock %}