<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap"
              rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&display=swap"
              rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
              rel="stylesheet">
        <title>{% block title %}{% endblock %}</title>
        <link rel="shortcut icon" type="image/jpg" href="static/images/favicon.ico"/>
    {% endblock %}
</head>
<body>
    <header>
        <div class="logo w55 tm10">
            <img src="{{ url_for('static', filename='images/logo.png') }}"
                 alt="">
        </div>
        <div class="h1_head w55">
            <h1>Questions & Answers👌</h1>
        </div>
    </header>

    {% block body %}

    {% endblock %}
</body>
</html>
