{% extends "layer.html" %}
{% block title %}
    Users list
{% endblock %}
{% block body %}
    <div class="tm100 w55">
        <a class="material-icons md-24 icon-nav" href="{{ url_for('main_page') }}">home</a>
    </div>
    <section class="main-frame tm10">
        <div class="card w55 bg-question tm10 border wrapper">
            <table class="users-list">
                <thead>
                <tr>
                    <th>Username</th>
                    <th id="email">Email</th>
                    <th>Registration date</th>
                    <th id="reputation">Reputation</th>
                    <th id="counter">Count of asked</th>
                    <th id="counter">Count of answers</th>
                    <th id="counter">Count of comments</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td class="name-field"><a href={{ url_for("user_details", user_id=user.id) }}>{{ user.username }}</a></td>
                        <td>{{ user.email_address }}</td>
                        <td>{{ user.registration_date.strftime("%d-%m-%Y") }}</td>
                        <td>{{ user.reputation }}</td>
                        <td>{{ user.asks }}</td>
                        <td>{{ user.comments }}</td>
                        <td>{{ user.questions }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}