{% extends "layer.html" %}
{% block title %}Display Question{% endblock %}
{% block head %}
    {{ super() }}

{% endblock %}
{% block body %}
    <div class="tm10 w55">
        <a class="material-icons icon-nav " href="{{ url_for('main_page') }}">home</a>
        {% if 'username' in session %}
            <p class="float_right">{{ session['username'] }} logged in</p>
            <a class="material-icons md-24 icon-nav float_right" href="{{ url_for('route_logout') }}">logout</a>
        {% endif %}
    </div>
    <div class="card w55 tm15 bg-question">
        <div class="flex-container">
            <div class="flex-vote">
                {% if 'id' in session %}
                    {% if question.id in votes_up %}
                        <a class="material-icons icon-vote green"
                           href="{{ url_for('question_vote_up', question_id=question.id) }}"
                    {% else %}
                        <a class="material-icons icon-vote"
                           href="{{ url_for('question_vote_up', question_id=question.id) }}"
                    {% endif %}
                {% else %}
                    <a class="material-icons icon-vote"
                {% endif %}
                >thumb_up</a>
                <div class="vote-string">{{ question.vote_number }}</div>
                {% if 'id' in session %}
                    {% if question.id in votes_down %}
                        <a class="material-icons icon-vote red"
                           href="{{ url_for('question_vote_down', question_id=question.id) }}"
                    {% else %}
                        <a class="material-icons icon-vote"
                           href="{{ url_for('question_vote_down', question_id=question.id) }}"
                    {% endif %}
                {% else %}
                    <a class="material-icons icon-vote"
                {% endif %}
                >thumb_down</a>
            </div>
            <div class="flex-message w37">
                <div class="title">{{ question.title }}
                    <div class="float_right">
                    </div>
                </div>
                <div class="message">{{ question.message  | replace('\n','<br>') | safe }}</div>
                <div class="flex-tags">
                    {% for tag in tag_names %}
                        <div class="tag-check">
                            <label class="tag-label pr0 td02">{{ tag.name }}</label>
                            {% if 'username' in session %}
                                <a class="material-icons md-18 pos"
                                   href="{{ '/question/'+question.id|string+'/tag/'+tag.id|string+'/delete' }}">clear</a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <div>
                    <p class="float_right comment">
                        <small>Asked at</small>
                        {{ question['submission_time'].strftime("%B %d '%y") }}
                    </p>
                </div>
                <div class="view-date">
                    <div class="view">
                        <small>{{ question['view_number'] }} views</small>
                    </div>
                    <div class="comment">
                        <div class="date">
                            <small>by</small>
                            {{ question.username }}
                            <label class="rep-label" for="">{{ question.reputation }}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-image">
                {% if question.image | string | if_exists %}
                    <img src="{{ url_for('static', filename='images/' + question.image) }}" alt="" class="image">
                {% else %}
                    <img src="{{ url_for('static', filename='images/default.png') }}" alt="" class="image">
                {% endif %}
            </div>
            <div class="flex-vote min-w0">
                {% if 'username' in session  and session['id'] == question.user_id %}
                    <a href="{{ url_for('edit_question', question_id=question.id) }}"
                       class="material-icons icon-edit td5">edit</a>
                    <a href="{{ url_for('add_answer', question_id=question.id) }}"
                       class="material-icons icon-edit td5">note_add</a>
                    <a href="{{ url_for('add_comment_to_question', question_id=question.id) }}"
                       class="material-icons icon-edit td5">insert_comment</a>
                    <a href="{{ url_for('add_tag_to_question', question_id=question.id) }}"
                       class="material-icons icon-edit td5">sell</a>
                    <a href="{{ url_for('delete_question', question_id=question.id) }}"
                       class="material-icons icon-edit td5">delete</a>
                {% elif 'username' in session %}
                    <a href="{{ url_for('add_answer', question_id=question.id) }}"
                       class="material-icons icon-edit td5">note_add</a>
                    <a href="{{ url_for('add_comment_to_question', question_id=question.id) }}"
                       class="material-icons icon-edit td5">insert_comment</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% for comment in qcomments %}
        <div class="td15 w55">
            <div class="card w40 tm15-comment bg-comment">
                <div class="flex-container">
                    <div class="flex-message w37 pr10">
                        <div class="message mt20 ml15">
                            {{ comment['message'] | replace('\n','<br>') | safe }}
                        </div>
                        <div>
                            <p class="float_right comment mr10">
                                <small>Commented at</small>
                                {{ comment['submission_time'].strftime("%B %d '%y") }}
                            </p>
                        </div>
                        <div class="view-date">
                            <div class="view ml15">
                                <small>{{ comment['edited_count'] }} edited</small></div>
                            <div class="comment">
                                <div class="view">
                                    <small>by</small>
                                    {{ comment['username'] }}
                                    <label class="rep-label" for="">{{ comment.reputation }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex-vote min-w0">
                        {% if 'username' in session and session['id'] == comment.user_id %}
                            <a href="{{ url_for('edit_comment', comment_id=comment.id) }}"
                               class="material-icons icon-edit td5">edit</a>
                            <a href="{{ url_for("delete_comment", comment_id=comment.id) }}"
                               class="material-icons icon-edit td5">delete</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% for answer in answers %}
        {% if answer.accepted %}
            <div class="card card-accepted w55 tm15 bg-answer">
        {% else %}
            <div class="card w55 tm15 bg-answer">
        {% endif %}
    <div class="flex-container">
        <div class="flex-vote">
            {% if answer.accepted %}
                <a class="material-icons done-accepted"
                   href="/answer/{{ answer.id }}/vote/{{ answer.accepted }}">done</a>
            {% else %}
                <a class="material-icons done"
                   href="/answer/{{ answer.id }}/vote/{{ answer.accepted }}">done</a>
            {% endif %}
            {% if 'id' in session %}
                {% if answer.id in answer_up %}
                    <a class="material-icons icon-vote green"
                       href="{{ url_for('answer_vote_up', answer_id=answer.id) }}"
                {% else %}
                    <a class="material-icons icon-vote"
                       href="{{ url_for('answer_vote_up', answer_id=answer.id) }}"
                {% endif %}
            {% else %}
                <a class="material-icons icon-vote"
            {% endif %}
            >thumb_up</a>
            <div class="vote-string">{{ answer[headers[2]] }}</div>
            {% if 'id' in session %}
                {% if answer.id in answer_down %}
                    <a class="material-icons icon-vote red"
                       href="{{ url_for('answer_vote_down', answer_id=answer.id) }}"
                {% else %}
                    <a class="material-icons icon-vote"
                       href="{{ url_for('answer_vote_down', answer_id=answer.id) }}"
                {% endif %}
            {% else %}
                <a class="material-icons icon-vote"
            {% endif %}
            >thumb_down</a>
        </div>
        <div class="flex-message w37">
            <div class="message m-h5 mt20">
                {{ answer[headers[4]]  | replace('\n','<br>') | safe }}
            </div>
            <div>
                <p class="float_right comment">
                    <small>Answered at</small>
                    {{ answer[headers[1]].strftime("%B %d '%y") }}
                </p>
            </div>
            <div class="view-date">
                <div class="view"></div>
                <div class="comment">
                    <small>by</small>
                    {{ answer.username }}
                    <label class="rep-label" for="">{{ answer.reputation }}</label>
                </div>
            </div>
        </div>
        <div class="flex-image">
            {% if answer['image'] | string | if_exists %}
                <img src="{{ url_for('static', filename='images/' + answer['image']) }}" alt="" class="image">
            {% else %}
                <img src="{{ url_for('static', filename='images/default.png') }}" alt="" class="image">
            {% endif %}
        </div>
        <div class="flex-vote min-w0">
            {% if 'username' in session and session['id'] == answer.user_id %}
                <a href="{{ url_for('edit_answer', answer_id=answer.id) }}"
                   class="material-icons icon-edit td5">edit</a>
                <a href="{{ url_for('add_comment_to_answer', answer_id=answer.id) }}"
                   class="material-icons icon-edit td5">insert_comment</a>
                <a href="{{ url_for('delete_answer', answer_id=answer.id) }}"
                   class="material-icons icon-edit td5">delete</a>
            {% elif 'username' in session %}
                <a href="{{ url_for('add_comment_to_answer', answer_id=answer.id) }}"
                   class="material-icons icon-edit td5">insert_comment</a>
            {% endif %}
        </div>
    </div>
    </div>
        {% for comment in acomments %}
            {% if comment.answer_id == answer.id %}
                <div class="td15 w55">
                    <div class="card tm15-comment bg-comment w40">
                        <div class="flex-container">
                            <div class="flex-message w37 pr10">
                                <div class="message mt20 ml15">
                                    {{ comment['message'] | replace('\n','<br>') | safe }}
                                </div>
                                <div>
                                    <p class="float_right comment mr10">
                                        <small>Commented at</small>
                                        {{ comment['submission_time'].strftime("%B %d '%y") }}
                                    </p>
                                </div>
                                <div class="view-date ml15">
                                    <div class="view"><small>{{ comment['edited_count'] }} edited</small></div>
                                    <div class="comment">
                                        <div class="view">
                                            <small>by</small>
                                            {{ comment['username'] }}
                                            <label class="rep-label" for="">{{ comment.reputation }}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-vote min-w0">
                                {% if 'username' in session and session['id'] == comment.user_id %}
                                    <a href="{{ url_for('edit_comment', comment_id=comment.id) }}"
                                       class="material-icons icon-edit td5">edit</a>
                                    <a href="{{ url_for("delete_comment", comment_id=comment.id) }}"
                                       class="material-icons icon-edit td5">delete</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock %}
