{% extends "layer.html" %}
{% block title %}Tags{% endblock %}
{% block body %}
    <div class="tm10 w55">
        <a class="material-icons icon-nav" href={{ request.referrer }}>arrow_back</a>
    </div>
    <div class="card w55 tm15 bg-tag">
        <div class="flex-message w40">
            <div class="title-tag">Tags</div>
        {% for tag in tags %}
            <div><label class="tag-label" for="">{{ tag.name }}({{ tag.count }})</label></div>
        {% endfor %}
        </div>
    </div>
{% endblock %}